

*{
    padding: 0;
    margin: 0;
    
}

.logo{
    width: 100px;
    height: 100px;
    
}
.header{
    display: flex;
    align-items: center;
    
    
}

.listItems{
    display: flex;
    list-style: none;
    width: 100%;
    
    justify-content: flex-end;
    
}

.listItems li{
    margin-right: 50px;
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.superscript{
    color: #FEA700;
   
}
.body{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;

}
.restroCard{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;;
    width:200px;
    height: 250px;
    color: #1f1f1f;
    cursor: pointer;
       
}

.restroDetails{
    margin-left: 10px;
    margin-top: 20px;
}
.restroImg{
    width: 200px;
    border-radius: 20px;
}

.averageTime{
    font-size: 8px;
    font-weight: bold;
    margin-top: 10px;
    
}

.cusine{
    margin-top: 10px;
}

.cityName{
    margin-top: 10px;
}